.ulogiran-vlasnik-main {
  padding: 24px 20px 0 20px;
  max-width: 1100px;
  margin: 0 auto;
  background: transparent;
}

.ulogiran-vlasnik-main.fullwidth,
.ulogiran-vlasnik-main.full-bleed {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
}

.ulogiran-vlasnik-main h1 {
  font-size: 1.4rem;
  color: #0097D7;
  font-weight: 800;
  text-align: left;
  margin: 0;
}
