.header-nav .nav-icon{
  width: 32px;
  height: 32px;
  display: inline-block;
}

#neureden{
  all: unset;
  background:none;
  border:none;

}

#x{
  position:fixed; 
  top:0;
  right:0;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bold;
  font-size:25px;

  
}

.maliinfo{
  padding:30px;
  position:fixed;
  background-color: white;
  top:0;
  right:0;
  border-color: gray;
  z-index: 100;
  border-radius: 10%;
}

.maliinfo h3{
  color: #1A4196
;
}
.notif-button{
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 6px;
  cursor: pointer;
}

.notif-badge{
  position: absolute;
  top: 2px;
  right: 2px;
  min-width: 18px;
  height: 18px;
  background: #ef4444; 
  color: white;
  border-radius: 9px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 0 5px;
}

.ikonaProfila{
  width: 36px;
  height: 36px;
  border-radius: 18px;
}


.header-nav a{
  padding: 6px;
}
